:root {
  --grey-h: 236;
  --grey-s: 9;
  --orange-h: 27;
  --orange-s: 77;
  --midnight-h: 214;
  --midnight-s: 35;
  --light-blue-h: 187;
  --light-blue-s: 78;
  --light-blue-l: 47%;
  --grey-500: hsl(var(--grey-h) var(--grey-s) 65%);
  --orange-400: hsl(var(--orange-h) var(--orange-s) 62%);
  --midnight-950: hsl(var(--midnight-h) var(--midnight-s) 5%);
  --light-blue-200: hsl(var(--light-blue-h) var(--light-blue-s) 90%);
  --light-blue-400: hsl(
    var(--light-blue-h) var(--light-blue-s) var(--light-blue-l)
  );
  --light-blue-500: hsl(var(--light-blue-h) var(--light-blue-s) 43%);

  --light-blue-glass: hsl(
    var(--light-blue-h) var(--light-blue-s) var(--light-blue-l) / 0.2
  );

  --off-white: hsl(34, 33%, 96%);
  --blue-glow: hsla(187, 78%, 47%, 0.3);

  --color-paragraph: var(--grey-500);
  --color-background: var(--midnight-950);
  --color-text: var(--off-white);
  --color-border: var(--light-blue-400);
  --color-split-blue: var(--light-blue-400);
  --color-split-orange: var(--orange-400);
  --color-tag-back: var(--light-blue-glass);
  --color-button: var(--light-blue-500);
}
